
.pageHeader, .sec1 {
    color: black;
    background-color:rgb(174, 202, 174);
    
}
.pageHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deckHeaders {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

#toLimit {
    font-size: 48px;
    font-weight:900; 
    padding-left: 24px;  
    margin-bottom: -8px;
}

#trustMe {
    font-size: 18px;
    padding-left: 24px;
}

.sec1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3em;
    
}

#signUpButton {
    color: white;
    background-color: #3882F6;
    margin-left: 24px;
    margin-bottom: 2em;
    border-radius: 5px;
    display: flex;
    width: 80px;
    justify-content: center;
    padding: 4px;

    
}


.madHome {
    height: 200px;
    width: auto;
    padding-bottom: 16px;
    margin-right: 10px;
}

.featureHeader {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 24px;
    font-weight: 900px;
}

.featuredDecks {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 16px;
    margin: 24px;
    text-align: center;
}

.someQuote { 
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    flex-direction: column;
}

.sec4 {
    margin: 24px;
    display: flex;
    justify-content: center;
}

.signup {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 24px 48px;
    border-radius: 5px; 
    padding: 16px; 
    width: 600px; 
}
#starChip {
    font-size: 18px;
    font-weight: 800px;
    margin-bottom: -10px;
}
#starChip2 {
    font-size: 14px;
    font-weight: 350px;
}

#signMeUp {
    border: white solid 2px;
    border-radius: 5px;
    padding: 4px 10px;
    box-sizing: border-box
}
.myFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        background-color: darkslategray;

}
p.copyright {
    color: #fff;
}

#logo {
    font-size: 24px;
}

#myQuote {
    font-size: 36px;
    font-weight: 300px;
    margin-bottom: -10px;
}
#quoteCredit {
    font-size: 18px;
    position: relative;
    left: 5em;
}
